.box{
	background: rgb(128, 124, 124);
	border-radius: 3px;
   padding: 16px;
	margin: 8px;   
	text-align: center;
	min-height: 150px;
	/* line-height: 100px; */
}
.container{
	margin: 0 auto;
	max-width: 800px;
	background: rgb(233, 227, 227);
}

.col-d .box{
	min-height: 75px;
}
.a{
	min-height: 75px;
}
.b{
	min-height: 40px;
	padding: 0;
}
.c{
	min-height: 316px;
}
.q1{
	min-height: 130px;
}
.q2{
	min-height: 170px;
}
.sb{
	min-height: 336px;
}
.nb{
	min-height: 90px;
	/* margin-right: 20px; */
}
.hsb{
	min-height: 386px;
}
.rhsb{
	float: right;
}
.rhb{
	min-height: 150px;
	float: right;
}
.tb{
	min-height: 100px;
}
.ft{
	min-height: 40px;
	padding: 0;
}